/* Hero Section */
.hero {
  margin: 0;
  width: 100%;
  height: 80vh; /* Adjust height as needed */
  background: #0077B6; /* Replace with a gradient or image background */
  background-position: center top; /* Adjust background position */
  overflow-x: hidden; /* Ensure content doesn't overflow horizontally */
}

.hero .container {
  padding-top: 5%;
  text-align: center; /* Center text for mobile view */

}

.hero-title {
  background-color: rgba(75, 75, 75, 0.5); /* Black background with 50% opacity */
  padding: 2px;
  border-radius: 50%;
}

.hero h1 {
  margin: 0;
  color: #fff; /* White text color */
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);

}


.hero-img {
  max-width: 150%; /* Set a fixed width */
  height: auto;
  transition: transform 0.3s ease-in-out;
}


.hero-img:hover  {
  transform: scale(1.15);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.hero h2 {
  color: rgba(255, 255, 255, 0.8); /* Adjust subtitle color */
  font-size: 20px; /* Adjust subtitle font size */
  margin-bottom: 20px; /* Adjust subtitle bottom margin */
}
.item1 {
  background-image: url('../../img/BG5.jpg'); margin-top: 8%;
}
.carousel {
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}

.carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
}

.carousel-item .hero-background {
  background-size: cover;
  background-position: center;
}

.carousel-item::before {
  content: "";
  position: absolute;
  inset: 0;
}

.info {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev {
  justify-content: start;
}

.carousel-control-next {
  justify-content: end;
}

@media (min-width: 640px) {
  .carousel-control-prev {
    padding-left: 15px;
  }

  .carousel-control-next {
    padding-right: 15px;
  }
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

.blue-bg {
  background-color: #0077B6;
}

.carousel-item.active.blue-bg{
  background-image: none;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 14px;
    padding: 8px 20px;
  }
}
@media (max-width: 991px) {
  .blue-bg {
    background-color: #0077B6;
  }
}

/* Products Page */

.products {
  padding: 40px 0;
  align-items: center;
  margin: 10px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  background-color: #EFF9FF;
  border-radius: 10%;
  box-shadow: 2 20px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  width: 80%;
  height: auto;
  margin: 40px;
  padding: 2%;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  border-radius: 20px;
}

.card-body {
  background-color: #396f91;
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
}

.card-body:hover {
  background-color: #EFF9FF;
}

.flowchart-img {
  width: 80%;
  height: auto;
  padding-bottom: 2%;
  transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95), box-shadow 0.3s ease-in-out;
  transform-origin: center center;
}



/* Products Page */
.products {
  padding: 40px 0; /* Add some padding */
  align-items: center;
  margin: 10px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Distribute evenly across row */
  /* Remove redundant alignment classes */
}

.product-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 80%; /* Adjust width for desired layout */
  height: auto;
  margin: 40px;
}

.product-card:hover {
  transform: scale(1.05); /* Subtle hover scale */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-radius: 20px; /* Match card radius */
}

.card-body {
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
}

.card-body:hover {
  background-color: #f2f2f2; /* Subtle background tint on hover */
}

.flowchart-img {
  width: 80%;
  height: auto;
  padding-bottom: 2%;
  transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95), box-shadow 0.3s ease-in-out;; /* Move transition property here */
  transform-origin: center center; /* Set transform origin to center */
}

.flowchart-img:hover {
  transform: scale(1.01);
}


/* About Us section */

.about-content {
  padding: 2%;
  text-align: justify;
  margin-bottom: 20px; /* Added spacing */
}

iframe {
  border: none;
  width: 75%;
  height: 100%;
}

@media (max-width: 992px) {
  .col-lg-6 {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .carousel-item  {
    background-image:none;
    background-color: #0077b6;
  }
}


