/* Button Style */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    background-color: #0077B6;
    color: white;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, padding 0.3s, border-radius 0.3s; /* Include padding and border-radius transition */
    position: relative;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Hover Effect */
  .button:hover {
    background-color: #fff;
    color: #0287cf;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    padding: 12px 24px; /* Increase padding on hover */
    border-radius: 50px; /* Increase border-radius on hover */
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #0287cf;
  }
  
  /* Additional Styling (Optional) */
  .button:focus {
    outline: none;
  }
  
  .button:active {
    background-color: #0287cf;
    border-color: #0287cf;
  }
  
  /* Animation Effect */
  .button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border-color 0.3s, transform 0.3s;
    z-index: -1;
    transform: scale(0);
  }
  
  .button:hover::after {
    border-color: #0287cf;
    transform: scale(1);
  }
  



  /*Invert Button Style */
.invert-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  background-color: white;
  color: #0077B6;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, padding 0.3s, border-radius 0.3s; /* Include padding and border-radius transition */
  position: relative;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Hover Effect */
.invert-button:hover {
  background-color: #0287cf;
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  padding: 12px 24px; /* Increase padding on hover */
  border-radius: 50px; /* Increase border-radius on hover */
  transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
}

/* Additional Styling (Optional) */
.invert-button:focus {
  outline: none;
}

.invert-button:active {
  background-color: #fff;
  border-color: #fff;
}

/* Animation Effect */
.invert-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border-color 0.3s, transform 0.3s;
  z-index: -1;
  transform: scale(0);
}

.invert-button:hover::after {
  border-color: #fff;
  transform: scale(1);
}

/* Section CSS */
section {
  padding: 0% 0%;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  color: #0077B6;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #00B4D8;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
